<a href="https://colab.research.google.com/github/risnaldynovendra/Project-based-learning-analisis-sentimen-youtube/blob/main/PBL_2_(_Scrapping_dan_sentiment_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
#!pip install textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in g:\anaconda\lib\site-packages (from textblob) (3.6.1)
Requirement already satisfied: regex in g:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: joblib in g:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: click in g:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: tqdm in g:\anaconda\lib\site-packages (from nltk>=3.1->textblob) (4.59.0)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [ ]:
#!pip install virtualenv

Collecting virtualenv
  Downloading virtualenv-20.14.1-py2.py3-none-any.whl (8.8 MB)
Collecting distlib<1,>=0.3.1
  Downloading distlib-0.3.4-py2.py3-none-any.whl (461 kB)
Collecting filelock<4,>=3.2
  Downloading filelock-3.7.0-py3-none-any.whl (10 kB)
Requirement already satisfied: six<2,>=1.9.0 in g:\anaconda\lib\site-packages (from virtualenv) (1.15.0)
Collecting platformdirs<3,>=2
  Downloading platformdirs-2.5.2-py3-none-any.whl (14 kB)
Installing collected packages: platformdirs, filelock, distlib, virtualenv
  Attempting uninstall: filelock
    Found existing installation: filelock 3.0.12
    Uninstalling filelock-3.0.12:
      Successfully uninstalled filelock-3.0.12
Successfully installed distlib-0.3.4 filelock-3.7.0 platformdirs-2.5.2 virtualenv-20.14.1

In [ ]:
#!pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib

Collecting google-api-python-client
  Downloading google_api_python_client-2.49.0-py2.py3-none-any.whl (8.5 MB)
Collecting google-auth-httplib2
  Downloading google_auth_httplib2-0.1.0-py2.py3-none-any.whl (9.3 kB)
Collecting google-auth-oauthlib
  Downloading google_auth_oauthlib-0.5.1-py2.py3-none-any.whl (19 kB)
Collecting google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5
  Downloading google_api_core-2.8.1-py3-none-any.whl (114 kB)
Collecting google-auth<3.0.0dev,>=1.16.0
  Downloading google_auth-2.6.6-py2.py3-none-any.whl (156 kB)
Collecting uritemplate<5,>=3.0.1
  Downloading uritemplate-4.1.1-py2.py3-none-any.whl (10 kB)
Collecting httplib2<1dev,>=0.15.0
  Downloading httplib2-0.20.4-py3-none-any.whl (96 kB)
Requirement already satisfied: six in g:\anaconda\lib\site-packages (from google-auth-httplib2) (1.15.0)
Collecting protobuf<4.0.0dev,>=3.15.0
  Downloading protobuf-3.20.1-cp38-cp38-win_amd64.whl (904 kB)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in g:\anaconda\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.25.1)
Collecting googleapis-common-protos<2.0dev,>=1.56.2
  Downloading googleapis_common_protos-1.56.2-py2.py3-none-any.whl (211 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in g:\anaconda\lib\site-packages (from google-auth<3.0.0dev,>=1.16.0->google-api-python-client) (4.2.2)
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.8-py3-none-any.whl (39 kB)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in g:\anaconda\lib\site-packages (from httplib2<1dev,>=0.15.0->google-api-python-client) (2.4.7)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Requirement already satisfied: chardet<5,>=3.0.2 in g:\anaconda\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in g:\anaconda\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in g:\anaconda\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in g:\anaconda\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client) (2.10)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.0-py3-none-any.whl (151 kB)
Installing collected packages: pyasn1, rsa, pyasn1-modules, protobuf, oauthlib, httplib2, googleapis-common-protos, google-auth, uritemplate, requests-oauthlib, google-auth-httplib2, google-api-core, google-auth-oauthlib, google-api-python-client
Successfully installed google-api-core-2.8.1 google-api-python-client-2.49.0 google-auth-2.6.6 google-auth-httplib2-0.1.0 google-auth-oauthlib-0.5.1 googleapis-common-protos-1.56.2 httplib2-0.20.4 oauthlib-3.2.0 protobuf-3.20.1 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.1 rsa-4.8 uritemplate-4.1.1

In [ ]:
api_key = "AIzaSyAMnIFt-7R5hqwCL-ZqX0g3UcWnjcu1-7U" # API key
from googleapiclient.discovery import build
youtube = build('youtube', 'v3', developerKey=api_key)

import pandas as pd

box = [['Name', 'Comment', 'Time', 'Likes', 'Reply Count']]

code_lang = [
    {"id":"NMnLzYWuLGo"} #link youtube
]

# sql_vids = pd.DataFrame([])

for id_code in code_lang:
    def scrape_comments_with_replies():
        data = youtube.commentThreads().list(part='snippet', videoId=id_code['id'], maxResults='100', textFormat="plainText").execute()
        
        for i in data["items"]:
            name = i["snippet"]['topLevelComment']["snippet"]["authorDisplayName"]
            comment = i["snippet"]['topLevelComment']["snippet"]["textDisplay"]
            published_at = i["snippet"]['topLevelComment']["snippet"]['publishedAt']
            likes = i["snippet"]['topLevelComment']["snippet"]['likeCount']
            replies = i["snippet"]['totalReplyCount']
            
            box.append([name, comment, published_at, likes, replies])
            
            totalReplyCount = i["snippet"]['totalReplyCount']
            
            if totalReplyCount > 0:
                
                parent = i["snippet"]['topLevelComment']["id"]
                
                data2 = youtube.comments().list(part='snippet', maxResults='100', parentId=parent,
                                            textFormat="plainText").execute()
                
                for i in data2["items"]:
                    name = i["snippet"]["authorDisplayName"]
                    comment = i["snippet"]["textDisplay"]
                    published_at = i["snippet"]['publishedAt']
                    likes = i["snippet"]['likeCount']
                    replies = ""

                    box.append([name, comment, published_at, likes, replies])

        while ("nextPageToken" in data):
            
            data = youtube.commentThreads().list(part='snippet', videoId=id_code['id'], pageToken=data["nextPageToken"],
                                             maxResults='100', textFormat="plainText").execute()
                                             
            for i in data["items"]:
                name = i["snippet"]['topLevelComment']["snippet"]["authorDisplayName"]
                comment = i["snippet"]['topLevelComment']["snippet"]["textDisplay"]
                published_at = i["snippet"]['topLevelComment']["snippet"]['publishedAt']
                likes = i["snippet"]['topLevelComment']["snippet"]['likeCount']
                replies = i["snippet"]['totalReplyCount']

                box.append([name, comment, published_at, likes, replies])

                totalReplyCount = i["snippet"]['totalReplyCount']

                if totalReplyCount > 0:
                    
                    parent = i["snippet"]['topLevelComment']["id"]

                    data2 = youtube.comments().list(part='snippet', maxResults='100', parentId=parent,
                                                    textFormat="plainText").execute()

                    for i in data2["items"]:
                        name = i["snippet"]["authorDisplayName"]
                        comment = i["snippet"]["textDisplay"]
                        published_at = i["snippet"]['publishedAt']
                        likes = i["snippet"]['likeCount']
                        replies = ''

                        box.append([name, comment, published_at, likes, replies])

        df = pd.DataFrame({'Name': [i[0] for i in box], 'Comment': [i[1] for i in box], 'Time': [i[2] for i in box],
                       'Likes': [i[3] for i in box], 'Reply Count': [i[4] for i in box]})
        
        sql_vids = pd.DataFrame([])

        sql_vids = sql_vids.append(df, ignore_index = True)

        sql_vids.to_csv('komentar_youtube.csv', index=False, header=False)
    
    scrape_comments_with_replies()

In [ ]:
import pandas as pd

df = pd.read_csv('hasil_analisis_final.csv')

In [ ]:
df

,Unnamed: 0,Comment,Time,Likes,Reply Count
0,0,And yes the sensor dust is killing me too,2022-06-07T00:07:06Z,6,8
1,1,Can you make a video about the PWM issue that ...,2022-06-06T12:08:52Z,11,6
2,2,And I was smudging my phone display -,2022-06-05T06:50:42Z,6,2
3,3,I want everything Mac I have since the late 8...,2022-06-03T06:34:59Z,13,5
4,4,I want everything Mac ok? I rest my case.,2022-06-02T19:23:13Z,11,3
...,...,...,...,...,...
11994,11994,The price bump really worries me. I always tho...,2022-03-08T23:53:23Z,16,7
11995,11995,@Christos Lowrell where I live the M1 Air was ...,2022-03-08T23:53:23Z,14,5
11996,11996,Rough guess is they *may* introduce a new 11 inch,2022-03-08T23:48:54Z,5,4
11997,11997,Of you can use the m1 until you get bored of it,2022-03-08T23:44:59Z,16,7
11998,11998,We are in a high inflationary period,2022-03-08T23:45:29Z,9,7

In [ ]:
df.drop(df.columns[[0,2,3,4,]], axis = 1, inplace = True)

In [ ]:
df

                                                 Comment
0              And yes the sensor dust is killing me too
1      Can you make a video about the PWM issue that ...
2                  And I was smudging my phone display -
3      I want everything Mac  I have since the late 8...
4              I want everything Mac ok? I rest my case.
...                                                  ...
11994  The price bump really worries me. I always tho...
11995  @Christos Lowrell where I live the M1 Air was ...
11996  Rough guess is they *may* introduce a new 11 inch
11997    Of you can use the m1 until you get bored of it
11998               We are in a high inflationary period

[11999 rows x 1 columns]

In [ ]:
# create a function to get the subjectivity
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

#create a function to get the polarity
def getPolarity(text):
    return TextBlob(text).sentiment.polarity

#create two new colums
df['Subjectivity'] = df['Comment'].apply(getSubjectivity)
df['Polarity'] = df['Comment'].apply(getPolarity)

df.head(11000)

,Comment,Subjectivity,Polarity
0,And yes the sensor dust is killing me too,0.000000,0.000000
1,Can you make a video about the PWM issue that ...,0.400000,0.000000
2,And I was smudging my phone display -,0.000000,0.000000
3,I want everything Mac I have since the late 8...,0.650952,0.280952
4,I want everything Mac ok? I rest my case.,0.500000,0.500000
...,...,...,...
10995,M1 ultra?? Or max??,0.000000,0.000000
10996,I want a 16� air!!!,0.000000,0.000000
10997,That is just like Apple to not drop the price ...,0.200000,0.100000
10998,First one,0.333333,0.250000
10999,You talk about getting me what I wanted to kno...,0.266667,0.225000

In [ ]:
#create a function to compute the negative, neutral and positive analysis
def getAnalysis(score):
    if score < 0:
        return '-1'
    elif score == 0:
        return '0'
    else:
        return '1'
    
df['Analysis'] = df['Polarity'].apply(getAnalysis)

df

,Comment,Subjectivity,Polarity,Analysis
0,And yes the sensor dust is killing me too,0.000000,0.000000,0
1,Can you make a video about the PWM issue that ...,0.400000,0.000000,0
2,And I was smudging my phone display -,0.000000,0.000000,0
3,I want everything Mac I have since the late 8...,0.650952,0.280952,1
4,I want everything Mac ok? I rest my case.,0.500000,0.500000,1
...,...,...,...,...
11994,The price bump really worries me. I always tho...,0.446667,0.210000,1
11995,@Christos Lowrell where I live the M1 Air was ...,0.613636,0.102273,1
11996,Rough guess is they *may* introduce a new 11 inch,0.427273,0.018182,1
11997,Of you can use the m1 until you get bored of it,1.000000,-0.500000,-1
11998,We are in a high inflationary period,0.540000,0.160000,1

In [ ]:
df.to_csv('hasil_analisis_final_1.csv', encoding='utf-8')